<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      Commented by {{user.username}} -
    </div>
    <div class="text">
      {{comments}}
    </div>
  </section>
  {{/each}}
</div>